<div class="card">
  <form [formGroup]="tweetForm" (ngSubmit)="onSubmit()">
    <div class="card-body">
      <div class="form-group">
        <textarea formControlName="content" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.content.errors }"></textarea>
        <div *ngIf="submitted && f.content.errors" class="invalid-feedback">
          <div *ngIf="f.content.errors.required">You must supply text for your tweet.</div>
          <div *ngIf="f.content.errors.minlength">Your tweet must contain at least 5 characters.</div>
          <div *ngIf="f.content.errors.maxlength">Your tweet cannot contain more than 280 characters.</div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="form-group">
        <div class="text-right">
          <div [ngClass]="{ 'is-invalid': f.content.value.length > 280 }">{{ f.content.value.length }}/280</div>
          <button [disabled]="isLoading" class="btn btn-primary">
            <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
            Post Tweet
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
